# Luis Emilio Garduno Garcia
# Student ID: 300352335
# Lab 05. 
## Part B: ANN Classifier

**References:**
-

## 1. Library import and data loading

In [31]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt 

%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler 
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import accuracy_score


from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error

## 2. Get the data

**We may use 'Lab05A_prepared' file from the Lab 5. Part A (section 5.3.1), because it contains a pre-processed data frame including the dummies, useful for further analysis.**  

Glimpse of the dataset using head() function displaying only 3 rows

In [12]:
df = pd.read_csv('Lab05A_prepared.csv')
df.head(3)

,Age,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,...,JobRole_Manager,JobRole_Manufacturing_Director,JobRole_Research_Director,JobRole_Research_Scientist,JobRole_Sales_Executive,JobRole_Sales_Representative,MaritalStatus_Married,MaritalStatus_Single,OverTime_Yes,Attrition_Yes
0,41,1102,1,2,2,94,3,2,4,5993,...,0,0,0,0,1,0,0,1,1,1
1,49,279,8,1,3,61,2,2,2,5130,...,0,0,0,1,0,0,1,0,0,0
2,37,1373,2,2,4,92,2,1,3,2090,...,0,0,0,0,0,0,0,1,1,1

In [13]:
df.info() #to confirm the proper dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 44 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                1470 non-null   int64
 1   DailyRate                          1470 non-null   int64
 2   DistanceFromHome                   1470 non-null   int64
 3   Education                          1470 non-null   int64
 4   EnvironmentSatisfaction            1470 non-null   int64
 5   HourlyRate                         1470 non-null   int64
 6   JobInvolvement                     1470 non-null   int64
 7   JobLevel                           1470 non-null   int64
 8   JobSatisfaction                    1470 non-null   int64
 9   MonthlyIncome                      1470 non-null   int64
 10  NumCompaniesWorked                 1470 non-null   int64
 11  PercentSalaryHike                  1470 non-null   int64
 12  PerformanceRating                  1470 non-null   int64
 13  RelationshipSatisfaction           1470 non-null   int64
 14  StockOptionLevel                   1470 non-null   int64
 15  TotalWorkingYears                  1470 non-null   int64
 16  TrainingTimesLastYear              1470 non-null   int64
 17  WorkLifeBalance                    1470 non-null   int64
 18  YearsAtCompany                     1470 non-null   int64
 19  YearsInCurrentRole                 1470 non-null   int64
 20  YearsSinceLastPromotion            1470 non-null   int64
 21  YearsWithCurrManager               1470 non-null   int64
 22  BusinessTravel_Travel_Frequently   1470 non-null   int64
 23  BusinessTravel_Travel_Rarely       1470 non-null   int64
 24  Department_Research_&_Development  1470 non-null   int64
 25  Department_Sales                   1470 non-null   int64
 26  EducationField_Life_Sciences       1470 non-null   int64
 27  EducationField_Marketing           1470 non-null   int64
 28  EducationField_Medical             1470 non-null   int64
 29  EducationField_Other               1470 non-null   int64
 30  EducationField_Technical_Degree    1470 non-null   int64
 31  Gender_Male                        1470 non-null   int64
 32  JobRole_Human_Resources            1470 non-null   int64
 33  JobRole_Laboratory_Technician      1470 non-null   int64
 34  JobRole_Manager                    1470 non-null   int64
 35  JobRole_Manufacturing_Director     1470 non-null   int64
 36  JobRole_Research_Director          1470 non-null   int64
 37  JobRole_Research_Scientist         1470 non-null   int64
 38  JobRole_Sales_Executive            1470 non-null   int64
 39  JobRole_Sales_Representative       1470 non-null   int64
 40  MaritalStatus_Married              1470 non-null   int64
 41  MaritalStatus_Single               1470 non-null   int64
 42  OverTime_Yes                       1470 non-null   int64
 43  Attrition_Yes                      1470 non-null   int64
dtypes: int64(44)
memory usage: 505.4 KB

## 3. Split the data

**Before start Machine Learning algorithms, we assign the Attrition_Yes field to a new variable called 'target'.**

**Moreover, we create another variable called 'features', excluding the Attrition_Yes field.**

In [14]:
target = df['Attrition_Yes'] #Dependent variable Y
features = df.drop(['Attrition_Yes'], axis = 1) #Independent variables X

In [15]:
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.25, random_state=42)

## 4. Implement a Pipeline by using a scaler method and MLP classifier

**We create some empty placeholder lists to store the experiments' result.**

In [18]:
ann_classifiers = []
score = []
names = []

In [19]:
### 4.1 Scaler Method

In [20]:
# scaler = StandardScaler()
# scaled_features = scaler.fit_transform(features)

### 4.2 Layer

In [ ]:
mlp = MLPRegressor() 
# ann_classifiers.append(ann1)

In [ ]:
for i in range(len(clf.coefs_)):
    number_neurons_in_layer = clf.coefs_[i].shape[1]
    for j in range(number_neurons_in_layer):
        weights = clf.coefs_[i][:,j]
        print(i, j, weights, end=", ")
        print()
    print()

### 4.3 Pipeline

In [36]:
#Loop:

for c in ann_classifiers:
    pipe = Pipeline (
    [('scaler', RobustScaler()),('classifier', mlp)] 
    )
    pipe.fit(X_train, y_train)
    score.append(pipe.score(X_test, y_test))

TypeError: '<=' not supported between instances of 'str' and 'float'

In [ ]:

param_grid = {
    'hidden_layer_sizes': [(2,5,10), (0,2,5,10), (0,2,5,10)],
    'activation': ['tanh', 'relu'],
    'solver': ['sgd', 'adam'],
    'alpha': [0.0001, 0.05],
    'learning_rate': ['adaptive'],
    'max_iter': [10000000000]
}

grid = GridSearchCV(mlp, param_grid, n_jobs= -1, cv=5)
grid.fit(X_train, y_train)

print(grid.best_params_)

#https://stackoverflow.com/questions/72607254/neural-network-mlpregressor
#https://datascience.stackexchange.com/questions/36049/how-to-adjust-the-hyperparameters-of-mlp-classifier-to-get-more-perfect-performa

In [30]:

param_grid = {'hidden_layer_sizes': [(100,), (50,100,), (50,75,100,)],
              'activation': ['tanh','relu','lbfgs'],
              'solver': ['sgd', 'adam'],
              'learning_rate': ['constant','adaptive','invscaling'],
              'alpha': [0.0001, 0.05],
              'max_iter': [10000000000],
              'early_stopping': [False],
              'warm_start': [False]}
GS = GridSearchCV(mlp, param_grid=param_grid,n_jobs= -1,cv=5, scoring='r2')
                 
                  
GS.fit(X_train, y_train)

print(GS.best_params_)

#TypeError: '<=' not supported between instances of 'str' and 'float' 

#https://stackoverflow.com/questions/73006227/a-question-about-mlp-what-does-this-line-mean

In [ ]:
#SOLUTION
#https://python-course.eu/machine-learning/neural-networks-with-scikit.php